.detail1{
    font-size: 18px;
    letter-spacing: 6px;
    color: #354569;
    margin-top: 15px;
    margin-bottom: 7px;
}
.reg_button{
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: 210px;
    font-size: 18px;
}
.login_list2{
    width: 60%;
    height: 650px;
    margin: 0 auto;
    background-image:url('../../component/img/flowbg.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}